{{define "walletMaintenance" -}}
{{.}} Wallet maintenance
{{- end}}

{{define "withdrawMinAmountErr" -}}
{{.UserMention}} withdraw minimum amount is `{{.Min}} {{.Symbol}}`
{{- end}}

{{define "withdrawValidateAddrErr" -}}
{{.UserMention}} `{{.Addr}}` is not {{.Symbol}}'s address
{{- end}}

{{define "withdrawBotAddrErr" -}}
{{.UserMention}} `{{.Addr}}` is in bot's wallet, you can use `{{.Prefix}}pie` command to give someone {{.Symbol}}
{{- end}}

{{define "withdrawAmountNotEnoughErr" -}}
{{.UserMention}} you don't have enouth amount to withdraw
{{- end}}

{{define "withdrawSuccess" -}}
{{.UserMention}} you withdraw {{.Amount}} {{.Symbol}} to `{{.Addr}}`
txfee: {{.TxFee}} {{.Symbol}}
{{.TxExpUrl}}{{.TxID}}
Now your balance:
{{- end}}

{{define "balAmount" -}}
{{.}} Your balance:
{{- end}}

{{define "depositInfo" -}}
{{.UserMention}} Your {{.Symbol}}'s deposit address is:
`{{.Addr}}`
{{- end}}

{{define "pieAmountMinErr" -}}
{{.UserMention}} Minimum amount `{{.Min}} {{.Symbol}}` allowed to be distribute
{{- end}}

{{define "pieNotEnoughAmountErr" -}}
{{.UserMention}} you don't have enough amount to distribute
please use command `{{.Prefix}}deposit` to get deposit address
{{- end}}

{{define "pieNoPeopleErr" -}}
{{.}} No people to be distribute pie, Try again when people are online
{{- end}}

{{define "pieNotEnoughEachErr" -}}
{{.UserMention}} {{.SendAmount}} {{.Symbol}} is not enough to distribute {{.ReceiverCount}} peoples
{{- end}}

{{define "pieSendCountHint" -}}
{{.UserMention}} You pie {{.Amount}} {{.Symbol}} to {{.ReceiverCount}} peoples
{{- end}}

{{define "pieSuccess" -}}
:lollipop: ~ ~ ~ ~ ~ ~ ~ ~ {{.CoinName}} Pie ~ ~ ~ ~ ~ ~ ~ ~:candy:
{{.AmountEach}} {{.Symbol}} to{{range .Receivers}} {{.}}{{end}}{{if .ShowAllPeople}} (All {{.ReceiverCount}} peoples{{if .RoleName}} @{{.RoleName}}{{end}}){{end}}
{{- end}}

{{define "channelOperatorSuccess" -}}
{{.UserMention -}}
{{if eq .Operator "add" -}}
{{" "}}Added successfully
{{- else -}}
{{" "}}Remove successfully
{{- end}}
`{{.Symbol}}`'s commands now active in these channels:
{{- range .Channels }} <#{{.}}>{{else}} all channels{{end}}
{{- end}}

{{define "pieMainManagerList" -}}
***Manager:***
  **User:**
    - {{join .Managers ", "}}
  **Role:**
    - {{join .ManagerRoles ", "}}
{{- end}}

{{define "pieMainManagerInfo" -}}
{{.UserMention}} now server manager:
{{template "pieMainManagerList" .}}
{{- end}}

{{define "pieMainInfo" -}}
{{.UserMention}} Server Config:
{{- range .CoinConfigs}}
***{{.Symbol}}***
  **Prefix:** {{.Prefix}}
  **Active channels:** {{if .Channels}}{{join .Channels " "}}{{else}}All channel{{end}}
{{- end}}
{{template "pieMainManagerList" .}}
{{template "pieMainExcludeList" .}}
{{- end}}

{{define "pieMainPrefixErr" -}}
{{.UserMention}} prefix `{{.BotPrefix}}` is reserved for the bot
{{- end}}

{{define "pieMainPrefixSymbolNotExistErr" -}}
{{.UserMention}} don't have this coin's symbol `{{.Symbol}}`
{{- end}}

{{define "pieMainPrefixExistErr" -}}
{{.UserMention}} command prefix `{{.Prefix}}` configuration to the `{{.Symbol}}` failed!
`{{.Prefix}}` has been configured for `{{.Symbol}}`
{{- end}}

{{define "pieMainPrefixSuccess" -}}
{{.UserMention}} command prefix `{{.Prefix}}` configuration to the `{{.Symbol}}` successfully
{{- end}}

{{define "pieMainListInfo" -}}
{{.UserMention}} configureable coin's symbol:
-- {{join .Symbols ", "}}
{{- end}}

{{define "pieMainExcludeList" -}}
***Exclude Roles:***
  - {{join .ExcludeRoles ", "}}
{{- end}}

{{define "pieMainExcludeInfo" -}}
{{.UserMention}} now server exclude roles:
{{template "pieMainExcludeList" .}}
{{- end}}

{{define "pieAutoParamsLenErr" -}}
Don't have enough command params
{{template "pieAutoUsage" .}}
{{- end}}

{{define "pieAutoChannelErr" -}}
Just need only one <#channel>
{{template "pieAutoParamChannelUsage" .}}
{{- end}}

{{define "pieAutoRoleErr" -}}
Must have one <role>
{{template "pieAutoParamRoleUsage" .}}
{{- end}}

{{define "pieAutoStatusErr" -}}
Status must be 'online' or 'all'
{{template "pieAutoParamStatusUsage" .}}
{{- end}}

{{define "pieAutoIntervalErr" -}}
{{template "pieAutoParamIntervalUsage" .}}
{{- end}}

{{define "pieAutoAmountErr" -}}
{{.UserMention}} <amount> must be a number
{{template "pieAutoParamAmountUsage" .}}
{{- end}}

{{define "pieAutoAmountMinErr" -}}
{{.UserMention}}
{{template "pieAutoParamAmountUsage" .}}
{{- end}}

{{define "pieAutoAmountNotEnoughErr" -}}
{{.UserMention}} you don't have enouth amount to add PieAuto task
Need `{{.SumAmount}} {{.Symbol}}`, You have:
{{- end}}

{{define "pieAutoCycleTimeErr" -}}
{{template "pieAutoParamCycleTimesUsage" .}}
{{- end}}

{{define "pieAutoExtendTimeErr" -}}
{{template "pieAutoParamAfterTimeUsage" .}}
{{- end}}

{{define "pieAutoErr" -}}
PieAuto add failed
{{- end}}


{{define "pieAutoSuccess" -}}
{{.}} You add PieAuto task successfully:
{{- end}}

{{define "pieAutoSuccessDM" -}}
{{.}} You add PieAuto task successfully
click reaction :arrows_counterclockwise: to refresh this task info
click reaction :stop_button: to stop and remove this Task
{{- end}}

{{define "pieAutoTaskNoAmountRemoveInfo" -}}
You don't have enough amount to run Auto Pie task#{{.AutoPieID}}, this task removed by Bot
Balance:
Amount: {{.Amount}} {{.Symbol}}
Unconfirmed Amount: {{.UnconfirmedAmount}} {{.Symbol}}
{{- end}}

{{define "pieAutoIsRemoved" -}}
This task is removed
{{- end}}
