{{define "main"}}{{end}}

{{define "usage" -}}
{{.UserMention}} {{.CmdName}} command usage:{{"\n"}}
{{- end}}

{{define "pieUsage" -}}
{{if .IsShowUsageHint}}{{template "usage" . }}{{end -}}
***{{.Prefix}}pie [@receiver...] <amount>***
  minimum amount:{{.PieMin}} {{.Symbol}}
{{- end}}

{{define "balUsage" -}}
***{{.Prefix}}bal***
  get balance amount
{{- end}}

{{define "depositUsage" -}}
***{{.Prefix}}deposit***
  get deposit address
{{- end}}

{{define "withdrawUsage" -}}
{{if .IsShowUsageHint}}{{template "usage" . }}{{end -}}
***{{.Prefix}}withdraw <address> <amount>***
  minimum amount:{{.WithdrawMin}} {{.Symbol}}
  txfee:{{printf "%g%%" .TxFeePercent}} of <amount> or minimum {{.TxFeeMin}} {{.Symbol}}
{{- end}}

{{define "channelUsage" -}}
{{if .IsShowUsageHint}}{{template "usage" . }}{{end -}}
***{{.Prefix}}channel <add|remove> <#channel...>***
  add or remove active channel for `{{.Symbol}}`'s commands
{{- end}}

{{define "helpUsage" -}}
{{.UserMention}} you can use these commands for `{{.Symbol}}`
{{template "pieUsage" .}}
{{template "balUsage" .}}
{{template "depositUsage" .}}
{{template "withdrawUsage" . }}
{{if .IsManager -}}
{{template "channelUsage" .}}
***{{.Prefix}}pieAuto -s <online|all> -i <interval> -a <amount> -c <cycleTimes> -e <aftertime> <#channel> <@role>***
  use `{{.Prefix}}pieAuto` go get more informations
{{- end}}
{{if .IsVipOn -}}
------------
{{template "vipUsage" .}}
{{- end}}
{{- end}}

{{define "pieMainManagerUsage" -}}
{{if .IsShowUsageHint}}{{template "usage" . }}{{end -}}
**{{.BotPrefix}}pie manager <add|remove> <@user|@role>**
  add or remove manager for PieBot
{{- end}}

{{define "pieMainPrefixUsage" -}}
{{if .IsShowUsageHint}}{{template "usage" . }}{{end -}}
**{{.BotPrefix}}pie prefix <symbol> <prefix>**
  config <symbol>' command prefix
  you can use `{{.BotPrefix}}pie list` to get configurable symbols
{{- end}}

{{define "pieMainInfoUsage" -}}
**{{.BotPrefix}}pie info**
  show server config info
{{- end}}

{{define "pieMainListUsage" -}}
**{{.BotPrefix}}pie list**
  list all configurable coin's symols
{{- end}}

{{define "pieMainExcludeUsage" -}}
{{if .IsShowUsageHint}}{{template "usage" . }}{{end -}}
**{{.BotPrefix}}pie exclude <add|remove> [@role...]**
  add or remove pie exclude roles
{{- end}}

{{define "pieMainHelpUsage" -}}
{{.UserMention}} You can use these commands:
{{template "pieMainInfoUsage" .}}
{{template "pieMainListUsage" .}}
{{template "pieMainPrefixUsage" .}}
{{template "pieMainManagerUsage" .}}
{{template "pieMainExcludeUsage" .}}
{{- end}}

{{define "pieAutoParamStatusUsage" -}}
**-s <online|all>:** Only Pie to online peoples or all peoples `option:default online`
{{- end}}

{{define "pieAutoParamIntervalUsage" -}}
**-i <interval>:** <XhYmZs>(X hour Y minute Z second ) how long time to Pie once, `must > 180s,option:default 180s`
    Example: `1h` is one hour, `1h30m` is on hour and 30 minutes
{{- end}}

{{define "pieAutoParamAmountUsage" -}}
**-a <amout>**: `Must be a number >= {{.PieMin}} {{.Symbol}}`  ***`requried`***
{{- end}}

{{define "pieAutoParamCycleTimesUsage" -}}
**-c <cycleTimes>:** How many times to Auto Pie, `must be a number > 0, option:default 10`
{{- end}}

{{define "pieAutoParamAfterTimeUsage" -}}
**-e <aftertime>:** How long time to Auto Pie after create task, same as <intervaltime> but `must >= 30 seconds, option:default 30s`
{{- end}}

{{define "pieAutoParamChannelUsage" -}}
**<#channel>:** Which channel's people can get pie, `option:default current channel` ***`If fill it must be at the end of the command line`***
{{- end}}

{{define "pieAutoParamRoleUsage" -}}
**<@role>:** Who is the <@role> can get pie ***`option:default all role, Must be at the end of the command line`***
{{- end}}

{{define "pieAutoUsage" -}}
{{if .IsShowUsageHint}}{{template "usage" . }}{{end -}}
***{{.Prefix}}pieAuto -s <online|all> -i <interval> -a <amount> -c <cycleTimes> -e <aftertime> <#channel> <@role>***
  Add one auto pie task
  {{template "pieAutoParamStatusUsage" .}}
  {{template "pieAutoParamIntervalUsage" .}}
  {{template "pieAutoParamAmountUsage" .}}
  {{template "pieAutoParamCycleTimesUsage" .}}
  {{template "pieAutoParamAfterTimeUsage" .}}
  {{template "pieAutoParamChannelUsage" .}}
  {{template "pieAutoParamRoleUsage" .}}
{{- end}}

{{define "vipUsage" -}}
***{{.Prefix}}vip***
  Show user's `{{.Symbol}}` VIP points
{{- end}}
