# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

coins.json
db.json
txserver/config.json
txserver/log
txserver/logs
txserver/txserver
txserver/pid
txserver/txserver.pid
txserver/txserver.json
piebot/config.json
piebot/log
piebot/logs
piebot/piebot
piebot/pid
piebot/piebot.pid
piebot/piebot.json

bcrmvimbot/pid
bcrmvipbot/logs
bcrmvipbot/bcrmvipbot
bcrmvipbot/bcrmvipbot.json
bcrmvipbot/bcrmvipbot.pid
