{{define "main"}}{{end}}

{{define "usage" -}}
{{.UserMention}} {{.CmdName}} command usage:{{"\n"}}
{{- end}}

{{define "vipHelpUsage" -}}
{{.UserMention}} you can use these commands for
{{template "vipUsage" .}}
{{template "vipTopUsage" .}}
{{if .IsManager -}}
{{template "vipPointsUsage" .}}
{{template "vipRolesUsage" .}}
{{template "vipRolePointsUsage" .}}
{{template "vipChannelsUsage" .}}
{{template "vipChannelPointsUsage" .}}
{{template "vipEmojiUsage" .}}
{{- end}}
{{- end}}

{{define "vipUsage" -}}
***{{.Prefix}}vip***
  Show user's `{{.Symbol}}` VIP points
{{- end}}

{{define "vipRolesUsage" -}}
***{{.Prefix}}vipRoles***
  Show VIP roles
{{- end}}

{{define "vipRolePointsUsage" -}}
{{if .IsShowUsageHint}}{{template "usage" . }}{{end -}}
***{{.Prefix}}vipRolePoints <@role> <points>***
  Config that how many points do that <@role> to upgrade
  <points> must >= 0, if == 0, delete this role's points
{{- end}}

{{define "vipChannelsUsage" -}}
***{{.Prefix}}vipChannels***
    Show Channel's give points that when completed task
{{- end}}

{{define "vipChannelPointsUsage" -}}
{{if .IsShowUsageHint}}{{template "usage" . }}{{end -}}
***{{.Prefix}}vipChannelPoints <#channel> <points>***
  Config show many points to give when completed channel's task
  <points> must >= 0, if == 0, delete this channel's points
{{- end}}

{{define "vipPointsUsage" -}}
{{if .IsShowUsageHint}}{{template "usage" . }}{{end -}}
***{{.Prefix}}vipPoints <@user> <points>***
  Add or sub user's VIP points
  <points> >0: add points, <0: sub <points>, =0:ignore
{{- end}}

{{define "vipEmojiUsage" -}}
{{if .IsShowUsageHint}}{{template "usage" . }}{{end -}}
***{{.Prefix}}vipEmoji <emoji>***
    Config emoji that given VIP points
{{- end}}

{{define "vipTopUsage" -}}
***{{.Prefix}}vipTop <index>***
    Show VIP Leaderboard
    <index> must be a number > 0
{{- end}}
